@charset "UTF-8";

/* Estilizações Gerais */

@font-face {
  font-family: "Normafixed";
  src: url("fonts/NORMT___.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --cor-fundo: #fafafa;
  --cor-fundo-2: #ffffff;
  --cor-fonte-1: #000000;
  --cor-fonte-2: #878787;
  --cor-detalhe: #d36135;
  /* --cor-fundo: #f2f2f2;
  --cor-fundo-2: #a6a6a6;
  --cor-fundo-link: #e4d914;
  --cor-fundo-link-2: #f3f702;
  --cor-fonte: rgb(10, 10, 10);
  --cor-detalhe: #2b4570; */
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

h1 {
  font-family: "Normafixed";
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  color: var(--cor-fonte-1);
  letter-spacing: 0.4rem;
  padding: 20px 20px;
}

p {
  font-family: "Poppins", sans-serif
  
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0rem;
  text-align: left;
  padding: 20px;
  line-height: 1.5;
  color: var(--cor-fonte-2);
}

p::first-letter {
  font-size: 4rem;
  line-height: 1;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cor-fundo);
}

.container {
  max-width: 1500px;
  padding: 2rem 2rem;
}

/* Fim das Estilizações Gerais */

/* Estilização do Header */

.header {
  background-color: var(--cor-fundo);
  display: flex;
  align-items: center;
  padding: 100px 50px;
}

/* Fim da Estilização do Header */

/*  Estilização do Menu */
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.menu a {
  color: var(--cor-fonte-1);
  padding: 0.8rem 1.2rem;
  border-radius: 1rem;
  font-size: 1.5rem;
}

.menu a:hover {
  color: var(--cor-fonte-2);
}

/*  Fim da Estilização do Menu */

/* Estilização da galeria */
.galeria {
  padding-top: 0;
  column-count: 3;
  column-gap: 0.5rem;
}

.galeria img {
  width: 100%;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

/* Fim da Estilização da galeria */

/* Estilização do sobre */
.sobre {
  max-width: 600px;
}

/* Fim da Estilização do sobre */
